a {
  transition: all .25s ease;
  cursor: pointer;
}

.display {
  visibility: hidden;
}

.display.ready {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
  text-transform: uppercase;
  font-weight: 400;
}

.pane {
  width: 100%;
}

.circle {
  border-radius: 100%;
  border: 3px solid white;
}

.icon-link-block {
  display: block;
}

.valign-img-bottom {
  vertical-align: bottom;
}

p {
  margin-top: $large;
}

h3 {
  margin-top: $med;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.target {
  height: 5px;
}

.navbar {
  font-family: $font-family-headers;
  text-transform: uppercase;
  font-weight: 400;
  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    height: 60px;
    line-height: 58px;
    padding-top: 0;
  }
}

.navbar a:hover {
  color: black !important;
}

.nav-branding {
  display: block;
  height: 60px;
  line-height: 58px;
}

.navbar ul li {
  text-align: right;
}

.work-front {
  padding-top: 2em;
}

/* Hero Unit */

$hero-font-color: white;

#hero {

  background: url(../img/books-large.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: $hero-font-color;
  position: relative;

  h1, h2, h3, h4, h5, h6 {
    color: $hero-font-color;
  }

  h1 {
    font-size: em(32px);
    text-transform: none;
    font-weight: 300;
  }

  h2 {
    font-size: em(52px);
    text-transform: uppercase;
    font-weight: 400;
  }

  img.profile-image {
    margin-bottom: $med;
  }

  p {
    margin-top: $med;
    padding-bottom: $xxxlarge;
  }

  .control {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: $xlarge;
  }

  .icon-link-block {
    padding-bottom: $xlarge;
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }

}

.footer-pane {
  margin-top: $xlarge;
  background: #151f26;
}

footer {
  padding: 3em 0;

  h1, h2, h3, h4, h5, h6 {
    color: $hero-font-color;
    display: inline;
    line-height: 1;
  }

  h1 {
    font-size: em(22px);
    text-transform: none;
    font-weight: 300;
    padding-right: 1em;
  }

  h2 {
    font-size: em(22px);
    text-transform: uppercase;
    font-weight: 400;
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }

}

.thumbnails div {
  margin-bottom: 2em;
}

.video-js {
  margin-top: 2em;
}